
@font-face {
  font-family: 'Boska';
  src: url('../fonts/Boska-Extralight.woff2') format('woff2'),
       url('../fonts/Boska-Extralight.woff') format('woff'),
       url('../fonts/Boska-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
