
:root{
    --font-base:"Boska",san-serif;
    --c-primary:#FA991C;
    --C-secondar:#f8f3f2;
    --c-background:#1c768f;
    --c-dark:#032539;
    
}
body{
    font-family: var(--font-base);
    font-size:16px;
    
}
p{
    font-family: var(--font-base);

}

.h1 .h2 .h3 .h4 .h5 .h6{
    font-family: var(--font-base);
    font-weight: 600;
    color: black;

}

/*---------------------------------------------------------
navbar setup*/

.navbar{
    font-size: 24px;
    font-family: var(--font-base);
    font-weight: 700;
    word-spacing: normal;
    width: 100%;
    border-bottom: 2px var(--C-secondar) solid;
    
   

}

.navbar-change{
    background-color:var(--c-dark);
    height: auto;
   
}

.a-footer{
    font-family: var(--font-base);
    cursor: pointer;
    text-decoration: none;
}

.a-footer:hover{
    text-decoration: underline;
    transition-duration: 0.25s;
    filter: drop-shadow(5px 5px 12px var(--C-secondar));
    
}

.a-footer:active{
    text-decoration: underline var(--c-primary);
   
   
}

/*---------------hero section setup--------------*/
.hero{
    background-color: var(--c-background);
    color: var(--C-secondar);
    padding: 100px;
    text-align: center;
    
    background-image: url(/img/background1.jpg);
    
    
}

.hero-head{
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 40px;
    margin-top: 160px;


}
.hero-para{
 font-family: var(--font-base);
 font-size: 20px;
 filter: drop-shadow(5px 5px 12px var(--c-background));
 word-spacing: 3px;
 text-align: center;
}

span{
  font-size: 38px;
  color: var(--c-background);
}

/*------------------about setup-----------*/
#about-setup{
    position: relative;
    top: 35px;
    background-color: var(--c-dark);
    color: var(--C-secondar);

}
.hero-img{
    background: transparent;
    filter: drop-shadow(6px 4px 12px  var(--c-background));
    
    
}

.hero-img:hover{
    border: #FA991C 1px solid;
    
    display:flex;
    justify-content: center;
    border: none;
    align-items: center;
    transition: all 0.5s;

    
    
}

/*---------------footer Setup-----------*/

.footer-setup{
    color: var(--C-secondar);
    background-color: var(--c-dark);
    font-family: var(--font-base);
}

.footer-titile{
    font-weight: 600;
    font-size: 26px;
    

}

.footer-body{
    font-size: 24px;
    word-spacing: 5px;
}

.footer-link{
    color: var(--C-secondar) ;
    text-decoration: none;
    font-size: 22px;
    border: var(--c-background) solid;
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

.footer-link:hover{
    background-color: var(--c-background);
    text-decoration: none;
    
    filter: drop-shadow(5px 5px 8px var(--c-background));
    color: var(--c-dark);
    transform: scale(1.1, 1.1);
        
}


.footer-link:active{
    background-color: var(--c-primary);
    text-decoration: none;
    transition-duration: 0.16s;
    
    
 
   
}
.mail{
    color: aquamarine;
    text-decoration: none;
}
/*navbar setup*/
.loader {
    margin-left: 20px;
    width: 33px;
    height: 33px;
    padding-left: 30px;
    
  }
  
  .box1,
  .box2,
  .box3 {
    border: 4px solid #f5f5f5;
    box-sizing: border-box;
    position: absolute;
    display: block;
  }
  
  .box1 {
    width: 33px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
    animation: abox1 4s 1s forwards ease-in-out infinite;
  }
  
  .box2 {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
    animation: abox2 4s 1s forwards ease-in-out infinite;
  }
  
  .box3 {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 32px;
    animation: abox3 4s 1s forwards ease-in-out infinite;
  }
  
  @keyframes abox1 {
    0% {
      width: 33px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    12.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    25% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    37.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    50% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    62.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  
    75% {
      width: 12px;
      height: 33px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    87.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    100% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  }
  
  @keyframes abox2 {
    0% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    12.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    25% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    37.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    50% {
      width: 33px;
      height: 12px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    62.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 16px;
    }
  
    75% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left:16px;
    }
  
    87.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 16px;
    }
  
    100% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 16px;
    }
  }
  
  @keyframes abox3 {
    0% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 16px;
    }
  
    12.5% {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-left: 16px;
    }
  
    25% {
      width: 12px;
      height: 33px;
      margin-top: 0px;
      margin-left: 16px;
    }
  
    37.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 16px;
    }
  
    50% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 16px;
    }
  
    62.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 16px;
    }
  
    75% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 16px;
    }
  
    87.5% {
      width: 12px;
      height: 12px;
      margin-top: 16px;
      margin-left: 16px;
    }
  
    100% {
      width: 33px;
      height: 12px;
      margin-top: 16px;
      margin-left: 0px;
    }
  }
  
 

  /*----contact setup----*/

  .contact-setup-form{
    
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
    font-family: var(--font-base);
    
  }
  .contactus-setup{
    height: 500px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
  }
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
  25%{
    background-position: 75% 25%;
  }
	50% {
		background-position: 100% 50%;
	}
  75%{
    background-position: 25% 75%;
  }
	100% {
		background-position: 0% 50%;
	}
}


.contactus-setup{
  font-family: var(--font-base);
  width: 100%;
  margin-top: 120px;    
  border: 1px solid ;
  border-color: var(--c-primary);    
  margin-bottom: 20px;
  border-radius: 5px;
  height: 500px;
}
.contact-setup{
  font-size: 32px;
  margin-bottom: 20px;

}
.contact-text{
  font-size: 24px;
  
}

.contact-icon{
  color: black;
  
  width: 20px;

  padding-bottom: 33px;
  margin-left: 25px;
}

.contact-setup-form{
        width: 300px;
        height: 400px;
        padding: 20px;
        background-color: transparent; /* Semi-transparent background */
      
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(1, 0, 0, 0.2); /* Optional: Add shadow */
}

.contact-setup-form{
  padding: 5px;
  margin-top: 20px;
  z-index: 5;
}

/*-------certificate-setup------------*/

.certificate-edit{
  width: 300px !important;
 height: 500px !important; 
 background-color:var(--c-background) !important;
 margin-top: 20px;
 margin-right: 100px;
 margin-left: 150px;
 font-family: var(--font-base);
 font-size: 16px;
 display: flex !important;
 text-decoration:none !important;
 
 
 
 
}

.card-text{
  color: black;
  font-family: var(--font-base);
  
  
}

.certificate-back{
  color: var(--C-secondar);
  
  
}

.certificate-title{
  text-decoration: underline ;
  width: 200px;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: var(--font-base);
}

.certificate-edit:hover{
  transition-duration: 0.5s;
  background-color: var(--C-secondar) !important;
  filter: blur(5px 5px 12 px blue);
  .certificate-back{
    color: var(--c-dark);
  
    transition-duration: 0.5s;
    

  }
}

#certificate-link{
  text-decoration: none !important;
}

/*----contact button edit------*/
button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-top: 15px !important;
  margin-left: 20px !important;
  z-index: 8;
}

button:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3) !important;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}


.glitch{
  position: relative;
  display: inline-block;
}

.glitch img {
  display: block;
  max-width: 100%;
}

/*-------------aboutsetup-------------------*/

.gallery {
  --g: 8px;   /* the gap */
  --s: 400px; /* the size */
  
  display: grid;
  border-radius: 50%;
  

}
.gallery > img {
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0,0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
  --_y: calc(-1*var(--g))
  
}
.gallery > img:nth-child(2) {
  clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: var(--g)
}
.gallery > img:nth-child(3) {
  clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
  --_y: var(--g)
}
.gallery > img:nth-child(4) {
  clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: calc(-1*var(--g))
}

.gallery {
  margin-top: 40px;
  text-align:center;
  display: grid;
  place-content: center;
  background: var(--c-dark);
  
  
}

.about-size{
  background-color:#032539;
  
  z-index: 3;
  height: 600px;
}

.about-size:hover{
  background-image: url(/img/background1.jpg);
  .about-head{
    font-size: 45px;
  }
  

}

.about-head{
  font-size: 32px;
  font-family: var(--font-base);
  font-weight: 600;
  color: #f5f5f5;
  margin-top: 20px;
  
  
}

.about-text{
  padding: 50px !important;
  margin-right: 200px !important;
  margin-top: 100px;
  color: #f8f3f2;
  background-color: transparent !important;
  border-radius: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 10px 10px 10px rgba(1, 0, 0, 0.2); /* Optional: Add shadow */
  width:370px !important;
  height: 250px;

}

.about-button{
  margin-top: 50px !important;
  margin-left: 60px !important;
}

.about-button:hover{
  background-color: var(--c-primary) !important;
}
